header, section, footer, aside, nav, article, hgroup{
	display: block;
	font-size:100%;
}

#site{
	margin-left:auto;
	margin-right:auto;
	width:100%;
	max-width:1100px;
	height:1300px;
}

#body{
	background-color:white;
	height:1300px;
}

#header{
	display:inline-block;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	background-color:gold;
	background:url(../images/food.jpg) top center no-repeat;
	-webkit-background-size:100% 100%;
}

#main_head{
	margin-top:4%;
	margin-left:auto;
	margin-right:auto;
	width:80%;
	padding-top:4%;
	padding-bottom:4%;
	background-color:white;
	font-family:HamburgerHeavenRegular;
	font-size:6em;
	font-weight:bold;
	color:brown;
	text-align:center;
	border-radius:120px;
	border:20px double;
	border-color:brown;
	text-shadow:2px 2px 2px grey;
	-webkit-transform:rotate(-3deg);
	-webkit-box-shadow:10px 10px 20px black;
}

#q_head{
	margin-top:-5%;
	max-width:40%;
	margin-left:15%;
	margin-right:auto;
	padding:2%;
	background-color:brown;
	font-family:HamburgerHeavenRegular;
	font-size:3em;
	font-weight:bold;
	color:white;
	text-align:center;
	border-radius:60px;
	border:10px solid;
	border-color:white;
	text-shadow:2px 2px 2px grey;
	-webkit-transform:rotate(1.5deg);
	-webkit-box-shadow:7px 7px 20px black;
}

#nav{
	display:inline-block;
	float:left;
	max-width:60%;
	min-width:400px;
	margin-left:20%;
	margin-right:auto;
	margin-top:-0.3%;
	padding:1%;
	background-color:white;
	border-radius:60px;
	border:10px solid;
	border-color:grey;
	text-align:center;
	text-shadow:2px 2px 2px grey;
	-webkit-transform:rotate(-3deg);
	-webkit-box-shadow:7px 7px 20px black;
	-webkit-transition:text-shadow .5s;
}

#nav_log{
	display:inline-block;
	float:left;
	max-width:10%;
	min-width:100px;
	margin-left:-1.5%;
	margin-right:auto;
	margin-top:1%;
	padding:1%;
	background-color:white;
	border-radius:60px;
	border:10px solid;
	border-color:brown;
	text-align:center;
	text-shadow:2px 2px 2px grey;
	-webkit-transform:rotate(5deg);
	-webkit-box-shadow:7px 7px 20px black;
}

#footer{
	background-color:white;
	font-family:HamburgerHeavenRegular;
	font-size:0.8em;
	color:brown;
	text-shadow:1px 1px 1px black;
	text-align:center;
}

#home{
	padding:5%;
	display:inline;
	font-family:HamburgerHeavenRegular;
	font-size:1.6em;
	color:red;
}

#home:hover{
	text-shadow:1px 1px 3px red;
}

#recipes{
	padding:5%;
	display:inline;
	font-family:HamburgerHeavenRegular;
	font-size:1.6em;
	color:red;
}

#recipes:hover{
	text-shadow:1px 1px 3px red;
}

#contact{
	padding:5%;
	display:inline;
	font-family:HamburgerHeavenRegular;
	font-size:1.6em;
	color:red;
}

#contact:hover{
	text-shadow:1px 1px 3px red;
}

#log{
	padding:5%;
	display:inline;
	font-family:HamburgerHeavenRegular;
	font-size:1.6em;
	color:red;
}

#log:hover{
	text-shadow:1px 1px 3px red;
}

#login{
	margin-top:3%;
	margin-left:auto;
	margin-right:auto;
	width:40%;
	padding-top:4%;
	padding-bottom:4%;
	background-color:grey;
	font-family:HamburgerHeavenRegular;
	color:brown;
	text-align:center;
	border-radius:150px;
	border:20px double;
	border-color:white;
	-webkit-transform:rotate(-3deg);
	-webkit-box-shadow:10px 10px 20px black;
}

#main_art{
	margin-top:-2%;
}

#login{
	
}

#h1_log{
	padding:1%;
	display:inline;
	font-family:HamburgerHeavenRegular;
	font-size:4em;
	font-weight:bold;
	color:brown;
	text-shadow:2px 2px 2px black;
}

#inputs{
	
}

#uname{
	float:left;
	display:inline-block;
	margin-left:10%;
	margin-right:auto;
	margin-bottom:2%;
	width:30%;
	background-color:white;
	color:brown;
	border-radius:25px;
	border:7px solid brown;
	padding:1%;
	display:inline-block;
	font-family:HamburgerHeavenRegular;
	-webkit-transform:rotate(5deg);
	-webkit-box-shadow:2px 2px 5px black;
}

#pword{
	float:left;
	display:inline-block;
	margin-left:-2%;
	margin-right:auto;
	margin-bottom:2%;
	width:35%;
	background-color:white;
	color:brown;
	border-radius:25px;
	border:10px solid brown;
	padding:1%;
	display:inline-block;
	font-family:HamburgerHeavenRegular;
	-webkit-transform:rotate(-3deg);
	-webkit-box-shadow:2px 2px 5px black;
}

#actions{
	padding:1%;
	display:inline-block;
	font-family:HamburgerHeavenRegular;
	font-size:1.2em;
	color:red;
	text-shadow:1px 1px 1px black;
}

#submit{
	float:left;
	display:inline-block;
	margin-top:1%;
	margin-left:10%;
	margin-right:auto;
	width:25%;
	background-color:white;
	color:brown;
	text-align:center;
	border-radius:18px;
	border:5px solid brown;
	padding:1%;
	font-weight:bold;
	display:inline-block;
	font-family:HamburgerHeavenRegular;
	text-shadow:1px 1px 1px black;
	-webkit-transform:rotate(-3deg);
	-webkit-box-shadow:2px 2px 5px black;
	-webkit-transition:-webkit-box-shadow .5s, text-shadow .5s;
}

#submit:hover{
	-webkit-box-shadow:2px 2px 10px red;
	text-shadow:1px 1px 3px red;
}

#forgot{
	margin-left:2%;
	display:inline;
	font-family:HamburgerHeavenRegular;
	font-size:1.2em;
	color:brown;
	-webkit-transition:text-shadow .5s;
}

#forgot:hover{
	text-shadow:1px 1px 3px red;
}

#reg{
	margin-left:2%;
	display:inline;
	font-family:HamburgerHeavenRegular;
	font-size:1.2em;
	color:brown;-webkit-transition:text-shadow .5s;
}

#reg:hover{
	text-shadow:1px 1px 3px red;
}

@font-face {
    font-family: 'HamburgerHeavenRegular';
    src: url('../fonts/hamburger_heaven/HAMBH___-webfont.eot');
    src: url('../fonts/hamburger_heaven/HAMBH___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hamburger_heaven/HAMBH___-webfont.woff') format('woff'),
         url('../fonts/hamburger_heaven/HAMBH___-webfont.ttf') format('truetype'),
         url('../fonts/hamburger_heaven/HAMBH___-webfont.svg#HamburgerHeavenRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AirstreamRegular';
    src: url('../fonts/airstream/Airstream-webfont.eot');
    src: url('../fonts/airstream/Airstream-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/airstream/Airstream-webfont.woff') format('woff'),
         url('../fonts/airstream/Airstream-webfont.ttf') format('truetype'),
         url('../fonts/airstream/Airstream-webfont.svg#AirstreamRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}